---
import Layout from '../layouts/Layout.astro';
import Headers from '../components/Headers.astro'
import Introduccion from '../components/Introduccion.astro'
import Juegos from '../components/Juegos.astro'
import DescargarPC from '../components/DescargarPC.astro'
import Aventura from '../components/Aventura.astro'
import Prefooter from '../components/Prefooter.astro'
import Extras from '../components/Extras.astro'
import Evolucion from '../components/Evolucion.astro'
import Comunidad from '../components/Comunidad.astro'
import Preguntas from '../components/Preguntas.astro'
import Footer from '../components/Footer.astro'
---


<Layout>
	
	<main>

		<Headers/>
		<Introduccion/>
		<Juegos/>
		<DescargarPC/>
		<Aventura/>
		<Prefooter/>
		<Extras/>
		<Evolucion/>
		<Comunidad/>
		<Preguntas/>
		<Footer/>

	</main>
	
</Layout>
