<section class="bg-black h-screen w-screen relative text-center p-24">

  <div class="absolute inset-0 z-10">
    <img src="../../public/img/Fondo-aventura.jpg" alt="Imagen de fondo paisaje" class="w-screen h-screen object-cover opacity-55">
  </div>

  <div class="z-30 relative">
    <div class="text-white">
      <h2 class="text-5xl font-bold uppercase mb-12">Comienza la aventura</h2>
      <p class="text-white text-xl max-w-[900px] m-auto font-normal">En comparación con el panteón griego, God of War (2018) y God of War Ragnarök embarcan a Kratos en un nuevo <strong>viaje dentro del mundo nórdico</strong>, todo para dejar atrás su antigua vida y buscar una nueva con su hijo Atreus.</p>
    </div>
  
    <div class="pt-16">
      <h3 class="text-3xl font-semibold text-white">Una odisea Fantástica.</h3>
      <p>Desde el mármol y las columnas que adornan el Olimpo hasta los bosques, las montañas y las cuevas del mundo nórdico anterior a los vikingos, este es un reino claramente nuevo con su propio panteón de criaturas, monstruos y dioses. </p>
    </div>
  
    <div>
      <div></div>
      <div></div>
    </div>
  
    <div></div>
  </div>

</section>