<section class="relative w-full h-screen">

  <div class="absolute inset-0">
    <img src="/img/Fondo-comunidad.webp" alt="Fondo comunidad" class="w-full h-full object-cover"/>
  </div>

  <div class="absolute w-full text-center top-10">
    <h1 class="text-black uppercase text-5xl font-medium">Comunidad de God of War</h1>
  </div>

  <div class="relative h-full flex items-center justify-between px-8">

    <div class="absolute bottom-0 left-0 h-[570px]">
      <img src="../../public/img/Padre-hijo.webp" alt="Kratos y Atreus" class="h-full w-auto object-contain"/>
    </div>

    <div class="ml-[840px] w-full max-w-lg space-y-6">
      <h2 class="text-black font-bold text-2xl">Conectar</h2>
      
      <p class="text-black text-lg max-w-[470px] pb-3">
        Únete a la comunidad y comparte ilustraciones, cosplay y mucho más de God of War. 
        Para conocer las últimas noticias sobre God of War, ¡conéctate a X, Instagram y Facebook!
      </p>

      <a 
        href="#" class="inline-block bg-blue-600 text-white px-8 py-3 rounded-full font-semibold hover:bg-blue-700 transition-colors"
      >Más información</a>

      <div class="flex gap-6 mt-8">
        <a href="#" class="hover:opacity-80 transition-opacity">
          <img src="/img/icon-facebook.png" alt="Facebook" class="h-8 w-8">
        </a>
        <a href="#" class="hover:opacity-80 transition-opacity">
          <img src="/img/icon-twitter.png" alt="X (Twitter)" class="h-8 w-8">
        </a>
        <a href="#" class="hover:opacity-80 transition-opacity">
          <img src="/img/icon-instagram.png" alt="Instagram" class="h-8 w-8">
        </a>
        <a href="#" class="hover:opacity-80 transition-opacity">
          <img src="/img/icon-youtube.png" alt="YouTube" class="h-8 w-8">
        </a>
        <a href="#" class="hover:opacity-80 transition-opacity">
          <img src="/img/icon-discord.png" alt="Discord" class="h-8 w-8">
        </a>
      </div>
    </div>
  </div>
</section>
