<section class="relative w-full min-h-screen">

  <div class="absolute inset-0">
    <img src="../../public/img/Fondo-comunidad.webp" alt="imagen de fondo blanc" class="w-full h-full object-cover z-0">
  </div>

  <div class="absolute z-30 inset-0 mt-16">

    <div class="text-center z-30">
      <h1 class="text-black uppercase text-5xl font-semibold">Comunidad de God Of War</h1>
    </div>

    <div>
      <h3 class="text-black font-extrabold text-lg">Conectar</h3>

      <p class="text-black text-lg ">Únete a la comunidad y comparte ilustraciones, cosplay y mucho más de God of War. Para conocer las últimas noticias sobre God of War, ¡conéctate a X, Instagram y Facebook!</p>

      <a href="#" class=" bg-blue-500 rounded-3xl font-semibold text-white px-6 py-3 hover:bg-blue-700 hover:text-slate-200 transition duration-200">Más información</a>
    </div>
  
    <div>
    </div>

  </div>
  
</section>
