<main>
  <section class="bg-black h-screen w-screen relative">

    <div class="absolute inset-0 z-10">
      <img src="../../public/img/Fondo-Play.webp" alt="Imagen de fondo PlayStation" class="w-screen h-screen object-cover">
    </div>

    <div class="z-20 relative text-white p-8 ">
      <div>
        <h2 class="uppercase text-4xl font-bold mb-4">God Of War Para PC</h2>
        <p class="text-lg">La aventura de Kratos y Atreus de 2018 ya está disponible en Steam y Epic Games Store con una variedad de optimizaciones para jugadores de PC.</p>
      </div>

      <div>
        <h3 class="text-2xl font-bold mb-2">Características para PC:</h3>
        <ul class="list-disc list-inside">
          <li><p>Gráficos de alta fidelidad.</p></li>
          <li><p>Compatible con NVIDIA® DLSS y Reflex.</p></li>
          <li><p>Personalización de controles.</p></li>
          <li><p>Compatible con pantalla ancha panorámica.</p></li>
        </ul>
      </div>

      <div class="max-w-2xl ">
        <lite-youtube
          class="shadow-2xl shadow-white/10 rounded-xl"
          videoid="nLe6GIKmJLc">
        </lite-youtube>
      </div>

      <a href="#" class="border-2 border-white bg-white/20 rounded-3xl font-medium text-gray-100 text-sm px-12 py-2 hover:bg-white hover:text-black transition-colors">Más Información.</a>
    </div>
  </section>
</main>

<script>
  import '@justinribeiro/lite-youtube'
</script>
