<section class="relative bg-gradient-to-r from-[#0a0a23] to-[#0a0a23] text-white p-10 ">
  
  <div class="absolute inset-0 bg-cover bg-center clip-diagonal" style="background-image: url('../../public/img/evolucion.webp');"></div>

  <div class="relative z-10 max-w-xl ml-28">
    <div class="flex w-4 mt-11 gap-1">
      <img src="../../public/iconos/triangulo.png" alt="">
      <img src="../../public/iconos/circulo.png" alt="">
      <img src="../../public/iconos/x.png" alt="">
      <img src="../../public/iconos/cuadrado.png" alt="">
    </div>

    <h2 class="text-purple-600 font-bold uppercase text-xl pt-2">Historias <span class="text-white">de creadores</span></h2>

    <h1 class="text-4xl font-bold mt-10">LA EVOLUCIÓN DE ATREUS EN GOD OF WAR</h1>
    
    <p class="my-4 text-lg pt-2 pb-9">
      Los desarrolladores principales encargados de la creación de God of War Ragnarök 
      conversan sobre el proceso de convertir a Atreus, el "niño", en un personaje jugable de mayor edad y complejidad.
    </p>

    <a href="#" class=" bg-white rounded-full font-semibold text-black px-7 py-3 hover:bg-black hover:text-white transition duration-200">
      Leer más
    </a>
  
  </div>
  
</section>