<section class="relative bg-gradient-to-r from-[#0a0a23] to-[#0a0a23] text-white p-10">
  
  <div class="absolute inset-0 bg-cover bg-center clip-diagonal" style="background-image: url('tu-imagen-de-fondo.jpg');"></div>

  <div class="relative z-10 max-w-xl ml-36">
    <div class="flex w-4 mt-11 gap-1">
      <img src="../../public/iconos/triangulo.png" alt="">
      <img src="../../public/iconos/circulo.png" alt="">
      <img src="../../public/iconos/x.png" alt="">
      <img src="../../public/iconos/cuadrado.png" alt="">
    </div>

    <h2 class="text-purple-600 font-bold uppercase text-xl pt-2">Historias <span class="text-white">de creadores</span></h2>

    <h1 class="text-4xl font-bold mt-10">LA EVOLUCIÓN DE ATREUS EN GOD OF WAR</h1>
    
    <p class="mt-4 text-lg">
      Los desarrolladores principales encargados de la creación de God of War Ragnarök 
      conversan sobre el proceso de convertir a Atreus, el "niño", en un personaje jugable de mayor edad y complejidad.
    </p>

    <button class="mt-6 bg-white text-black font-bold py-2 px-6 rounded-lg">Leer más</button>
  
  </div>
  
</section>