
<main>
  <header id="header-nav" class="py-2 px-10 flex items-center fixed top-0 w-full justify-between z-40">

    <div class="flex flex-grow basis-0">
      <img src='../../public/img/logo.png' alt="Logo" class="h-12 w-30" />
    </div>
  
    <nav>
      <ul class="flex text-sm [&>li>a]:inline-block text-white [&>li>a]:px-6 [&>li>a]:py-2 font-medium ">
        <li><a href="#">Descubre God Of War</a></li>
        <li><a href="#">Juegos</a></li>
        <li><a href="#">Detrás de escena</a></li>
        <li><a href="#">Comunidad</a></li>
        <li><a href="#">Artículos Promocionales</a></li>
      </ul>
    </nav>
  
    <nav class="flex flex-grow justify-end basis-0">
      <ul class="flex text-sm text-white [&>li>a]:inline-block  [&>li>a]:px-4 [&>li>a]:py-2 font-medium">
        <li><a href="#">Soporte</a></li>
        <li><a href="#">Tienda</a></li>
        <li><a href="#">Cuenta</a></li>
      </ul>
      
    </nav>
    
  </header>

  <section class="bg-black h-screen w-screen text-center relative overflow-hidden z-30">
    <div class="z-30 relative h-full flex flex-col justify-between">
 
      <header class="pt-56">
        <h1 class="text-white text-6xl font-medium">Descubre God Of War</h1>
        <p class="text-sm text-gray-300 py-3">Regresa la legendaria saga inspirada en las mitologías antiguas.</p>
      </header>

      <footer class="mb-20">
        <a href="#" class="border-2 border-white bg-white/5 backdrop-blur-3xl rounded font-medium text-white text-sm px-12 py-2 hover:bg-white hover:text-black transition-colors">Más sobre God of War</a>
      </footer>
    </div>

    <div class="absolute inset-0 z-10 opacity-85">
      <img src="../../public/img/Banner.webp" alt="imagen" class="w-full h-full object-cover">
    </div>
  </section>
</main>


