<main>
  <section class="bg-black relative h-screen w-screen">

    <div class="absolute z-30">
      <img src="../../public/img/Introduccion-fondo.avif" alt="imagen" class="w-screen h-screen object-cover">
      <div class="absolute inset-0 bg-gradient-to-l from-black/70 to-transparent z-40"></div>
    </div>

    <div class="relative z-30 flex h-full items-center justify-end px-28">
      <div class="text-white px-8 max-w-lg ">
        <h1 class="text-5xl font-bold mb-6">Introducción</h1>
        <p class="mb-4 text-lg">
          Comenzando con el lanzamiento de <strong>God of War en 2005 en PlayStation 2,</strong> Santa Monica Studio creó siete juegos para varias plataformas, hasta llegar al lanzamiento más reciente en el <strong>2018.</strong>
        </p>
        <p class="mb-4 text-lg">
          Ahora llega <strong>God of War Ragnarök</strong>, la secuela de <strong>God of War (2018)</strong>, aclamado por la crítica.
        </p>
        <p class="text-lg">
          Únete a Kratos y Atreus en un viaje mítico en busca de respuestas antes de que llegue el Ragnarök. Juntos, padre e hijo deben dar su mejor esfuerzo mientras <strong>viajan a cada uno de los nueve reinos.</strong>
        </p>
      </div>
    </div>
  </section>
</main>
