---
import Acordeon from './Acordeon.astro'
---


<section class="bg-gradient-to-t from-[#272727] to-[#06060e] h-screen w-screen z-0 absolute text-white">

  <div class="z-30">
    <div class="relative mt-20">
      <h2 class="uppercase text-center text-5xl font-semibold">preguntas frecuentes sobre god of war</h2>
    </div>
  </div>

</section>