<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>God Of War Clon Page</title>
	</head>
	<body>
		<slot />
	</body>

	<style is:global>
		html{
			text-decoration: none;
			box-sizing: border-box;
		}

	</style>

</html>
